@import 'https://fonts.googleapis.com/css?family=Fjalla+One|Indie+Flower';

*, 
*:before, 
*:after { 
	margin:0; 
	padding:0; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	}

.git{

	background: url('../img/adele-git.jpg') center center fixed no-repeat, rgb(23,29,15);
	font-family: 'Indie Flower', cursive;
	font-size: 1.4em;
	line-height: 40px;
	color: rgb(188,174,110);
	text-shadow: 3px 3px 3px #193D04;
}

.box{
	background: rgba(0,0,0,0.2);
	padding: 30px;
	max-width: 860px;
}

.container{

	max-width: 650px;
	margin: 0 auto;
}

.hide{
	display: none;
}

h1 {
	margin: 15%;
}

p {
	padding: 10px;
}

nav {
	width: 100%;
    height: 46px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Fjalla One', sans-serif;
}

nav a {
	text-decoration: none;
	padding: 10px;
}

nav ul li {
	text-decoration: none;
	margin-right: 0px;
	display: inline-block;
	line-height: 2em;
}

nav a:link, nav a:visited {
	color: rgb(181,168,124);
}

nav a:hover, nav a:active {
	color: rgb(0,128,128);
}