@import 'https://fonts.googleapis.com/css?family=Unicial+Antiqua|Arimo|Titillium+Web';

*, 
*:before, 
*:after { 
	margin:0; 
	padding:0; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	}

.index{

	background: rgb(248,216,159);
	font-family: 'Arimo', sans-serif;
	font-size: 1.4em;
	line-height: 40px;
	color: rgb(106,37,22);
}

.box{
	background: rgba(0,0,0,0.4);
	padding: 30px;
	max-width: 860px;
}

.container{

	max-width: 650px;
	margin: 0 auto;
}

.hide{
	display: none;
}


h1 {
	margin: 1%;
	font-family: 'Uncial Antiqua', cursive;
}

p {
	padding: 10px;
}

nav {
	width: 100%;
    height: 66px;
	text-align: center;
	font-family: 'Anton', sans-serif;
	position: fixed;
	transition: all 1500ms cubic-bezier(.16,.47,.59,.13);
}

nav a {
	text-decoration: none;
	padding: 10px;
}

nav ul li {
	text-decoration: none;
	margin-right: 0px;
	display: inline-block;
	line-height: 2em;
}

nav a:link, nav a:visited {
	color: rgb(0,128,128);
}

nav a:hover, nav a:active {
	color: rgb(185,92,0);
	-moz-transform: scale(2);
	-webkit-transform: scale(2);
	-o-transform: scale(2);
	-ms-transform: scale(2);
	transform: scale(2);
}

ul li{
	margin-right: 0px;
	text-decoration: none;
	display: inline-block;
	padding: 30px;
}